.glypoon-cell {
  left: 50%;
  top: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
}

.spinner {
  animation: spin-animation 6.0s infinite;
  display: inline-block;
  user-select: none
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(359deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
