@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .header {
        @apply transition-colors text-5xl font-bold leading-none sm:text-6xl text-gray-900 dark:text-gray-50
    }

    .blur-bg {
        @apply filter bg-gray-900 bg-opacity-75;
        backdrop-filter: blur(10px);
    }

    .timer {
        @apply text-xl font-semibold text-gray-900 dark:text-gray-50 transition-colors
    }

    .score-description {
        @apply invisible sm:visible text-xl font-semibold mr-3 text-gray-900 dark:text-gray-50 transition-colors
    }

    .score {
        @apply text-xl font-semibold text-gray-900 dark:text-gray-50 transition-colors
    }

    .reveal-button {
        @apply bg-blue-400 dark:bg-blue-500 focus:outline-none text-white font-medium rounded-lg shadow-md disabled:opacity-40 transition-colors
    }

    .puzzle-hint {
        @apply text-lg font-medium text-left text-gray-900 dark:text-gray-50 transition-colors
    }

    .input-box {
        @apply px-5 py-3 bg-white dark:bg-gray-600 disabled:bg-gray-200 dark:disabled:bg-gray-700 placeholder-blueGray-300 dark:disabled:placeholder-gray-500 text-blueGray-600 dark:text-gray-50 rounded-xl text-base border-0 shadow-md disabled:shadow-inner outline-none focus:outline-none dark:ring-blue-300 focus:ring w-full appearance-none;
    }

    .input-box-correct {
        @apply ease-out duration-300 ring ring-green-400 dark:ring-green-500 animate-bounce
    }

    .input-box-wrong {
        @apply ease-out duration-300 ring ring-red-400 dark:ring-red-500 animate-wiggle
    }

    .polygon {
        @apply rounded-3xl shadow-md bg-white dark:bg-gray-700 transition-colors
    }

    .polygon-letter-base {
        left: 50%;
        top: 50%;
        margin: 0;
        -webkit-transform: translate(-50%, -50%);
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        position: absolute;
        text-align: center;
        @apply rounded-full select-none transition-colors;
    }

    .polygon-letter {
        @apply polygon-letter-base bg-gray-200 dark:bg-gray-600 shadow
    }

    .polygon-letter-disabled {
        @apply polygon-letter-base bg-gray-300 dark:bg-gray-500 shadow-inner
    }

    .polygon-letter-text {
        @apply text-4xl font-bold text-gray-800 dark:text-gray-50 transition-colors
    }

    .polygon-letter-text-disabled {
        @apply text-4xl font-bold text-gray-500 dark:text-gray-400 transition-colors
    }

    .answers-container {
        @apply bg-white rounded-3xl shadow-md dark:bg-gray-700 transition-colors
    }

    .answer-bg {
        @apply rounded-md h-8 align-middle flex justify-center items-center transition-colors
    }

    .answer-text {
        @apply select-none text-gray-800 font-medium truncate dark:text-gray-50 transition-colors
    }
}